<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/schema/9.5.xsd"

    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    bootstrap="../vendor/autoload.php"
    cacheResultFile="../build/.phpunit.cache/test-results"
    colors="true"
    convertDeprecationsToExceptions="true"
    failOnRisky="true"
    failOnWarning="true"
    forceCoversAnnotation="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix=".php">../tests/unit/</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="../build/.phpunit.cache/code-coverage" processUncoveredFiles="false">
        <include>
            <directory suffix=".php">../src/</directory>
        </include>
        <report>
            <!-- clover outputFile="build/clover.xml"/ -->
            <!-- html outputDirectory="build/coverage"/ -->
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
</phpunit>
